/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_73a546480a830a139cc739e171237de2.eot");
  src: url("./fontcustom_73a546480a830a139cc739e171237de2.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_73a546480a830a139cc739e171237de2.woff") format("woff"),
       url("./fontcustom_73a546480a830a139cc739e171237de2.ttf") format("truetype"),
       url("./fontcustom_73a546480a830a139cc739e171237de2.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_73a546480a830a139cc739e171237de2.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-alarm:before,
.icon-chat:before,
.icon-chat-02:before,
.icon-close:before,
.icon-insta:before,
.icon-movie:before,
.icon-photo:before,
.icon-play:before,
.icon-up:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-alarm:before { content: "\f100"; }
.icon-chat:before { content: "\f101"; }
.icon-chat-02:before { content: "\f102"; }
.icon-close:before { content: "\f103"; }
.icon-insta:before { content: "\f109"; }
.icon-movie:before { content: "\f104"; }
.icon-photo:before { content: "\f105"; }
.icon-play:before { content: "\f106"; }
.icon-up:before { content: "\f107"; }
