<!DOCTYPE html>
<html lang="en" ng-app="defqon1">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
  <meta name="viewport"              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="cleartype"       content="on">
  <meta name="description"           content="O Projeto Hardstyle Brasil foi idealizado para apoiar e desenvolver o cenário Hard Dance Music no Brasil.">
  <meta name="keywords"              content="qdance defqon1 hardstyle phb dq1">
  <meta name="fragment"              content="!" />

  <!-- facebook metatags -->
  <meta property="og:title"       content="Q-Dance At Tomorrowland Brasil - Projeto Hardstyle Brasil e Eurodance.com.br">
  <meta property="og:url"         content="http://harddance.com.br">
  <meta property="og:image"       content="http://harddance.com.br/images/share_fb.jpg">
  <meta property="og:description" content="O Projeto Hardstyle Brasil foi idealizado para apoiar e desenvolver o cenário Hard Dance Music no Brasil.">
  <meta property="og:site_name"   content="Projeto Hardstyle Brasil e Eurodance.com.br">
  <meta property="og:type"        content="website">
  <title>({{new_photos_counter}}) - Q-Dance At Tomorrowland Brasil - Projeto Hardstyle Brasil e Eurodance.com.br</title>
  <link rel="stylesheet" href="stylesheets/application.css">
  <script src="https://cdn.socket.io/socket.io-1.1.0.js" charset="utf-8"></script>
</head>
<body ng-controller="defqon.controller">
