@import 'compass';

@function rem($pixels: 0, $base: 16px) {
  $rem-size: $pixels / $base;
  @return #{$rem-size}rem;
}

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: rem(16px);
  line-height: rem(18px);
  overflow-x: hidden;
}

#{headings()} {
  margin: 0;
}

figure {
  margin: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.defqon-header {
  background: #cc152a;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: rem(20px);
}

.defqon-header-nav {
  @include translateY(-50%);
  position: absolute;
  right: rem(20px);
  top: 50%;
}

.defqon-header-links {
  li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: rem(20px);

    a {
      color: #fff8ee;
      text-decoration: none;
    }
  }
}

.defqon-main {
  width: 100%;
  padding-top: 10vh;

  @media screen and (min-width: rem(768px)) {
    display: flex;
    flex-direction: row;
  }
}

.defqon-feed {
  @extend .reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    flex: 0 0 100%;
    border-bottom: 1px solid #e9e9e9;
  }

  @media screen and (min-width: rem(768px)) {
    flex: 0 0 70%;

    li {
      flex: 1 0 50%;
    }
  }
}

.defqon-feed-image {
  position: relative;

  @media screen and (min-width: rem(768px)) {
    padding: 2%;
  }
}

.defqon-feed-image-desc {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: rem(20px);
  font-size: rem(16px);
  color: #cc152a;
  font-weight: bold;

  > img {
    @include border-radius(50%);
    width: rem(60px);
    height: rem(60px);
    margin-right: rem(14px);
  }
}

.defqon-feed-image-post {
  width: 100%;
  max-width: 100%;
  display: block;
}

.defqon-feed-image-text {
  padding: rem(10px) rem(20px);
  font-size: rem(14px);
  color: #999;
}

.defqon-notification-new-photo {
  position: fixed;
  display: none;
  text-align: center;
  background: #fff;
  color: #cc152a;
  padding: rem(20px);
  z-index: 999;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;

  &.show {
    display: block;
  }

  .defqon-notification-counter {
    @include border-radius(20px);
    padding: rem(6px) rem(10px);
    background: #cc152a;
    color: #fff;
    margin-left: rem(5px);
  }
}

.defqon-chat {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 30%;
  height: 100vh;
  border-left: 1px solid #e9e9e9;
  display: none;

  iframe {
    width: 100%;
  }

  .defqon-chat-iframe {
    height: 50vh;
  }

  .defqon-livestream-player {
    height: 50vh;

    iframe {
      height: 80%;
    }
  }

  @media screen and (min-width: rem(768px)) {
    display: block;
  }
}