// @import 'compass';
@import 'vendors/lightbox';
@import 'vendors/normalize';
@import 'vendors/media-queries';
@import 'core/icons';

@function rem($pixels: 0, $base: 16px) {
  $rem-size: $pixels / $base;
  @return #{$rem-size}rem;
}

* {
  // @include box-sizing(border-box);
  box-sizing: border-box;

  &:after,
  &:before {
    // @include box-sizing(border-box);
    box-sizing: border-box;
  }
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: rem(16px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

figure {
  margin: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

$border-color: #ddd;
$header-height: 10vh;
$padding-mobile: 4%;
$padding-desktop: 2%;

.defqon-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #3a744a;
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: 99;
  padding-left: rem(20px);

  img {
    margin-right: rem(20px);
  }

  .defqon-header-nav {
    transform: translateY(-50%);
    position: absolute;
    right: rem(20px);
    top: 50%;
  }

  .defqon-header-links {
    color: #fff8ee;
    font-size: rem(24px);

    li {
      display: inline-block;
      text-transform: uppercase;
      margin-left: rem(20px);

      a {
        color: #fff8ee;
        text-decoration: none;
      }
    }
  }
}

.defqon-content {
  position: relative;
  padding-top: $header-height;
}

.defqon-player-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #eee;
  height: 50vh;
  border-bottom: 1px solid $border-color;
  width: 100%;
  overflow: hidden;

  .defqon-player {
    width: 100%;
    height: 100%;
    border-right: 1px solid $border-color;
    padding: $padding-mobile;

    h2 {
      display: block;
      margin-bottom: rem(40px);
    }

    audio {
      width: 100%;
    }

    iframe {
      height: 100%;
    }

    @include min-screen(rem(768px)) {
      flex: 0 0 70%;
      padding: $padding-desktop;
    }
  }

  .defqon-chat {
    flex: 0 0 30%;
    height: 100%;
    padding: $padding-mobile;
    overflow: scroll;
    display: none;

    iframe {
      height: 100%;
    }

    @include min-screen(rem(768px)) {
      display: block;
      padding: $padding-desktop;
    }
  }

  @include min-screen(rem(768px)) {
    height: 70vh;
  }
}

.defqon-feed {
  position: relative;
  height: 30vh;

  .defqon-feed-title {
    border-bottom: 1px solid $border-color;
    padding: $padding-mobile;
    display: table;
    width: 100%;

    h2 {
      width: 50%;
      display: table-cell;
      font-weight: 700;
      text-transform: uppercase;
    }

    .defqon-feed-filter {
      width: 50%;
      display: table-cell;
      text-align: right;
      vertical-align: middle;

      dl {
        display: inline-block;

        dt,
        dd {
          display: inline-block;
          margin-left: rem(10px);
        }
      }
    }

    @include min-screen(rem(768px)) {
      padding: $padding-desktop;
    }
  }

  .defqon-feed-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $padding-mobile;
    overflow: hidden;

    li {
      width: 100%;
      margin-bottom: $padding-mobile;

      .defqon-feed-list-from {
        padding: rem(20px);
        padding-top: 0;

        img {
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: $padding-mobile;
          width: rem(50px);
          height: rem(50px);
        }
      }

      .defqon-feed-list-photo {
        figure {
          position: relative;
        }

        img {
          width: 100%;
          max-width: 100%;
          display: block;
        }

        .defqon-feed-list-photo-text {
          padding: rem(20px) 0;
          color: #999;
          overflow: hidden;
        }

        .defqon-feed-video-player {
          position: relative;
          display: none;
          cursor: pointer;

          video {
            display: block;
            position: relative;
            width: 100% !important;
            height: 100% !important;
          }

          .defqon-feed-video-player-overlay {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #000;
              opacity: 0.5;
            }

            &:before {
              transform: translateY(-50%);
              content: "\f104";
              font-family: "defqon_icons";
              font-size: rem(50px);
              position: absolute;
              top: 50%;
              width: 100%;
              left: 0;
              text-align: center;
              color: #fff;
              z-index: 10;
            }
          }
        }

        &.is-video {
          figure {
            display: none;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #000;
              opacity: 0.5;
            }

            &:before {
              transform: translateY(-50%);
              content: "\f104";
              font-family: "defqon_icons";
              font-size: rem(50px);
              position: absolute;
              top: 50%;
              width: 100%;
              left: 0;
              text-align: center;
              color: #fff;
              z-index: 10;
            }
          }

          .defqon-feed-video-player {
            display: block;

            &.played {
              .defqon-feed-video-player-overlay {
                display: none;
              }
            }
          }

          // video {
          //   display: block;

          //   &:after {
          //     content: '';
          //     position: absolute;
          //     top: 0;
          //     left: 0;
          //     width: 100%;
          //     height: 100%;
          //     background: #000;
          //     opacity: 0.5;
          //   }

          //   &:before {
          //     transform: translateY(-50%);
          //     content: "\f104";
          //     font-family: "defqon_icons";
          //     font-size: rem(50px);
          //     position: absolute;
          //     top: 50%;
          //     width: 100%;
          //     left: 0;
          //     text-align: center;
          //     color: #fff;
          //     z-index: 10;
          //   }

          //   &.played {
          //     &:after,
          //     &:before {
          //       display: none;
          //     }
          //   }
          // }
        }
      }
    }

    @include min-screen(rem(768px)) {
      padding: $padding-desktop;
      padding-right: 0;

      li {
        // width: 48%;
        // float: left;
        flex: 0 0 48%;
        margin-right: $padding-desktop;
        margin-bottom: $padding-desktop;

        .defqon-feed-list-from {
          img {
            margin-right: $padding-desktop;
          }
        }
      }
    }

    @include min-screen(rem(1024px)) {
      padding-right: $padding-desktop;

      li {
        // width: 32%;
        flex: 0 0 32%;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

.defqon-notification-new-photo {
  position: fixed;
  display: none;
  text-align: center;
  background: #eee;
  color: #cc152a;
  padding: rem(20px);
  z-index: 999;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  text-transform: uppercase;

  &.show {
    display: block;
  }

  .defqon-notification-counter {
    border-radius: 30px;
    padding: rem(6px) rem(10px);
    background: #cc152a;
    color: #fff;
    margin-left: rem(5px);
  }
}

.defqon-see-more {
  text-align: center;
  padding: rem(40px) 0;

  .defqon-see-more-btn {
    background: red;
    color: #fff;
    padding: rem(10px) rem(30px);
    border: 0;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;

    &:hover {
      background: darken(#ff0000, 10%);
    }
  }
}