@import 'compass';
@import 'vendors/lightbox';

@function rem($pixels: 0, $base: 16px) {
  $rem-size: $pixels / $base;
  @return #{$rem-size}rem;
}

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: rem(16px);
  line-height: rem(18px);
  overflow-x: hidden;
}

#{headings()} {
  margin: 0;
}

figure {
  margin: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.defqon-header {
  @include display-flex;
  @include align-items(center);
  background: #cc152a;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  height: 10vh;
  padding-left: rem(20px);
}

.defqon-header-nav {
  @include translateY(-50%);
  position: absolute;
  right: rem(20px);
  top: 50%;
}

.defqon-header-links {
  li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: rem(20px);

    a {
      color: #fff8ee;
      text-decoration: none;
    }
  }
}

.defqon-main {
  width: 100%;
  padding-top: 10vh;
}

.defqon-livestream-player-chat {
  width: 100%;
  height: 50vh;
  padding: 4%;

  .defqon-livestream-player {
    height: 100%;

    iframe {
      height: 100%;
    }

    iframe + a {
      display: none !important;
    }
  }

  @media screen and (min-width: rem(768px)) {
    @include display-flex;
    @include flex-direction(row);
    padding: 2%;
    height: 70vh;
  }
}

.defqon-instagram-feed-container {
  padding: 4%;

  @media screen and (min-width: rem(768px)) {
    padding: 2%;
    padding-right: 0;
    padding-top: 0;
  }
}

.defqon-instagram-feed {
  @extend .reset-list;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);

  li {
    flex: 0 0 100%;
    border-bottom: 1px solid #e9e9e9;
  }

  @media screen and (min-width: rem(768px)) {
    li {
      flex: 1 0 33%;
      padding-right: 2%;
    }
  }
}

.defqon-instagram-feed-title {
  margin-bottom: rem(10px);
  color: #cc152a;
  padding-bottom: rem(20px);
  border-bottom: 1px solid #e9e9e9;
  line-height: rem(28px);
}

.defqon-instagram-feed-image {
  position: relative;
}

.defqon-instagram-feed-image-desc {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  padding: rem(20px);
  font-size: rem(16px);
  color: #cc152a;
  font-weight: bold;

  > img {
    @include border-radius(50%);
    width: rem(60px);
    height: rem(60px);
    margin-right: rem(14px);
  }
}

.defqon-instagram-feed-image-post {
  width: 100%;
  max-width: 100%;
  display: block;
}

.defqon-instagram-feed-image-text {
  padding: rem(10px) rem(20px);
  font-size: rem(14px);
  color: #999;
}

.defqon-notification-new-photo {
  position: fixed;
  display: none;
  text-align: center;
  background: #fff;
  color: #cc152a;
  padding: rem(20px);
  z-index: 999;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;

  &.show {
    display: block;
  }

  .defqon-notification-counter {
    @include border-radius(20px);
    padding: rem(6px) rem(10px);
    background: #cc152a;
    color: #fff;
    margin-left: rem(5px);
  }
}

.defqon-livestream-player {
  height: 50vh;

  iframe {
    height: 100%;
  }

  @media screen and (min-width: rem(768px)) {
    width: 70%;
  }
}

.defqon-chat {
  width: 30%;
  height: 100%;
  padding: 0 2%;
  padding-right: 0;
  background: #FFF;
  display: none;
  overflow: auto;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: rem(768px)) {
    display: block;
  }
}