* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

figure {
  margin: 0;
}

.reset-list, .defqon-feed {
  margin: 0;
  padding: 0;
  list-style: none;
}

.defqon-header {
  background: #cc152a;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
}

.defqon-header-nav {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 1.25rem;
  top: 50%;
}

.defqon-header-links li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 1.25rem;
}
.defqon-header-links li a {
  color: #fff8ee;
  text-decoration: none;
}

.defqon-main {
  width: 100%;
  padding-top: 10vh;
}
@media screen and (min-width: 48rem) {
  .defqon-main {
    display: flex;
    flex-direction: row;
  }
}

.defqon-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.defqon-feed li {
  flex: 0 0 100%;
  border-bottom: 1px solid #e9e9e9;
}
@media screen and (min-width: 48rem) {
  .defqon-feed {
    flex: 0 0 70%;
  }
  .defqon-feed li {
    flex: 1 0 50%;
  }
}

.defqon-feed-image {
  position: relative;
}
@media screen and (min-width: 48rem) {
  .defqon-feed-image {
    padding: 2%;
  }
}

.defqon-feed-image-desc {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1.25rem;
  font-size: 1rem;
  color: #cc152a;
  font-weight: bold;
}
.defqon-feed-image-desc > img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 0.875rem;
}

.defqon-feed-image-post {
  width: 100%;
  max-width: 100%;
  display: block;
}

.defqon-feed-image-text {
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  color: #999;
}

.defqon-notification-new-photo {
  position: fixed;
  display: none;
  text-align: center;
  background: #fff;
  color: #cc152a;
  padding: 1.25rem;
  z-index: 999;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
}
.defqon-notification-new-photo.show {
  display: block;
}
.defqon-notification-new-photo .defqon-notification-counter {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 0.375rem 0.625rem;
  background: #cc152a;
  color: #fff;
  margin-left: 0.3125rem;
}

.defqon-chat {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 30%;
  height: 100vh;
  border-left: 1px solid #e9e9e9;
  display: none;
}
.defqon-chat iframe {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 48rem) {
  .defqon-chat {
    display: block;
  }
}
