<% include ../partials/html_head %>

<header class="defqon-header">
  <img src="/images/logo-harddance.png" />
  <nav class="defqon-header-nav">
    <dl class="defqon-header-links reset-list">
      <dt>Filtre por:</dt>
      <dd ng-click="filterFeed('image')">
        <i class="icon-photo"></i> <span>Fotos</span>
      </dd>
      <dd ng-click="filterFeed('video')">
        <i class="icon-movie"></i> <span>Vídeos</span>
      </dd>
    </dl>
  </nav>
</header>

<main class="defqon-content">
<!--   <section class="defqon-player-chat">
    <div class="defqon-player">
      <iframe width="100%" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdjadriano%2Fdj-adriano-fernandes-hands-up-in-the-air-48%2F&hide_cover=1&light=1" frameborder="0"></iframe>
    </div>
    <div class="defqon-chat">
      <iframe src="http://tlk.io/phb" class="" width="100%" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </section> -->
  <section class="defqon-feed">
    <div class="defqon-feed-title">
      <h2>
        <i class="icon-insta"></i> Realtime Feed
      </h2>
    </div>
    <ul class="defqon-feed-list reset-list">
      <li ng-repeat="item in arrPhotos | orderBy:'-created_time' | filter:{ type: feedFilter }">
        <div class="defqon-feed-list-from">
          <img ng-src="{{item.user.profile_picture}}" alt="">
          <b class="defqon-feed-list-from-name">{{item.user.username}}</b>
        </div>
        <div class="defqon-feed-list-photo" ng-class="{'is-video' : item.type == 'video'}">
          <figure>
            <a href="{{item.link}}" target="_blank">
              <img ng-src="{{item.images.standard_resolution.url}}" class="defqon-instagram-feed-image-post">
            </a>
          </figure>
          <div class="defqon-feed-video-player" play-video-hover data-player-state="unplayed">
            <video poster="{{item.images.standard_resolution.url}}" preload="none" src="{{item.videos.low_resolution.url}}"></video>
            <div class="defqon-feed-video-player-overlay"></div>
          </div>
          <div class="defqon-feed-list-photo-text">
            {{item.caption.text}}
          </div>
        </div>
      </li>
    </ul>
    <div class="defqon-see-more">
      <button class="defqon-see-more-btn" ng-click="getOldPhotos()">Veja mais</button>
    </div>
  </section>
</main>

<div class="defqon-notification-new-photo" ng-class="{'show': thereAreNotifications}" notification-new-photo>
  novas fotos e vídeos <span class="defqon-notification-counter">{{new_photos_counter}}</span>
</div>

<% include ../partials/html_footer %>
