<% include ../partials/html_head %>

<header class="defqon-header">
  <img src="/images/logo_phb_small.png" />
<!--   <img src="/images/defqon.svg" />
  <nav class="defqon-header-nav">
    <ul class="defqon-header-links reset-list">
      <li>
        <i class="icon-alarm"></i>  <a href="http://www.defqon1.nl/wp-content/uploads/ARTISTS_SCHEMAV2.jpeg" data-lightbox="image-1" data-title="Broadcast Line-Up">Line-Up</a>
      </li>
    </ul>
  </nav> -->
</header>

<main class="defqon-content" ng-controller="defqon.controller">
  <section class="defqon-player-chat">
    <div class="defqon-player">
<!--       <audio autoplay="autoplay" controls="controls">
        <source src="http://audio.true.nl/b2s">
      </audio> -->
      <!-- <iframe src="https://mixlr.com/users/3764931/embed" width="100%" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe> -->
      <iframe src="https://mixlr.com/users/3764931/embed" width="100%" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
      <!-- <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/111026046&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> -->
      <!-- <iframe width="100%" scrolling="no" frameborder="no" src="https://embed.ubideo.com/event/55b67cacad45774c9c8c3688"></iframe> -->
    </div>
    <div class="defqon-chat">
      <iframe src="http://tlk.io/phb" class="" width="100%" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </section>
  <section class="defqon-feed">
    <div class="defqon-feed-title">
      <h2>
        <i class="icon-insta"></i> Realtime Feed
      </h2>
<!--       <nav class="defqon-feed-filter">
        <dl class="reset-list">
          <dt>Filtre por:</dt>
          <dd>
            <i class="icon-photo"></i> Fotos
          </dd>
          <dd><i class="icon-movie"></i> Vídeos</dd>
        </dl>
      </nav> -->
    </div>
    <ul class="defqon-feed-list reset-list">
      <li ng-repeat="item in arrPhotos | orderBy:'-created_time'">
        <div class="defqon-feed-list-from">
          <img ng-src="{{item.user.profile_picture}}" alt="">
          <b class="defqon-feed-list-from-name">{{item.user.username}}</b>
        </div>
        <div class="defqon-feed-list-photo" ng-class="{'is-video' : item.type == 'video'}">
          <figure>
            <a href="{{item.link}}" target="_blank">
              <img ng-src="{{item.images.standard_resolution.url}}" class="defqon-instagram-feed-image-post">
            </a>
          </figure>
          <div class="defqon-feed-video-player" play-video-hover data-player-state="unplayed">
            <video poster="{{item.images.standard_resolution.url}}" preload="none" src="{{item.videos.low_resolution.url}}"></video>
            <div class="defqon-feed-video-player-overlay"></div>
          </div>
          <div class="defqon-feed-list-photo-text">
            {{item.caption.text}}
          </div>
        </div>
      </li>
    </ul>
    <div class="defqon-see-more">
      <button class="defqon-see-more-btn" ng-click="getOldPhotos()">Veja mais</button>
    </div>
  </section>
</main>

<div class="defqon-notification-new-photo" ng-class="{'show': thereAreNotifications}" notification-new-photo>
  novas fotos e vídeos <span class="defqon-notification-counter">{{new_photos_counter}}</span>
</div>

<% include ../partials/html_footer %>
